<div class='row-fluid'>
	<h2>Day Selections</h2><br />
	<a href="#time1" role="button" class="btn btn-inverse" data-toggle="modal">July 10</a> or 
	<a href="#time2" role="button" class="btn btn-inverse" data-toggle="modal">July 11</a>
	<div id="time1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<p id="myModalLabel">Select a time.</p>
			</div>
			<div class="modal-body">
				<%= render 'time1' %>
			</div>
		</div>

		<div id="time2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h5 id="myModalLabel">Select a time.</h5>
			</div>
			<div class="modal-body">
				<%= render 'time2' %>
	</div>