/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-tablesorter/theme.bootstrap
 *= require jquery-tablesorter/addons/pager/jquery.tablesorter.pager
 *= require_self
 *= require_tree .
 */


.field_with_errors .message {
	color: black;
	padding-left: 10px;
	display: inline;
}

.wrapper {
	padding: 10px;
}

.modal-body {
	background: #324FB2;
}

.modal-header {
	background: #524E43;
	color: #D1B76C;
	font-family: 'Cantata One', serif;
}

.tablewrapper {
	padding: 2px;
}

.row-fluid {
	background: #D9CEB1;
	padding: 10px;
	font-family: 'Cantata One', serif;
}



