// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
	padding: 10px;
}

.modal-body {
	background: #324FB2;
}

.modal-header {
	background: #524E43;
	color: #D1B76C;
	font-family: 'Cantata One', serif;
}

.frontpage {
	background: #D9CEB1;
	padding: 10px;
	font-family: 'Cantata One', serif;
}

.tablewrapper {
	padding: 2px;
}



